.red{
    color:  rgb(255, 7, 58)!important;
    text-align: center;
}
.red:hover{
    background-color: rgba(255,7,58,.12549019607843137);
}
.green{
    color: rgb(40, 167, 69) !important;
    text-align: center;
}
.green:hover{
    background-color: rgba(40,167,69,.12549019607843137);
}
.gray{
    color: rgb(108, 117, 125)!important;
    text-align: center;
}
.gray:hover{
    background-color: rgba(108,117,125,.06274509803921569);
}