<div>
  <h2 class="display-6  mb-3">Countries</h2>
  <table class="table dataTable" *ngIf="countryData.length > 0">
    <thead>
      <tr>
        <th scope="col" class="colProp" (click)="sortCol('Country')"><span >Country</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill hideMe"
            viewBox="0 0 16 16" *ngIf="iconShow.Country && sortColname== 'Country'">
            <path
              d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
          </svg> 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-down-fill hideMe" viewBox="0 0 16 16">
            <path
              d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" *ngIf="!iconShow.Country && sortColname== 'Country'"/>
          </svg>
        </th>
        <th scope="col" class="colProp" (click)="sortCol('New Confirmed')"><span >New Confirmed</span> 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill hideMe"
            viewBox="0 0 16 16" *ngIf="iconShow.NewConfirmed && sortColname== 'New Confirmed' ">
            <path
              d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
          </svg> 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-down-fill hideMe" viewBox="0 0 16 16" *ngIf="!iconShow.NewConfirmed && sortColname== 'New Confirmed'">
            <path
              d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
          </svg> </th>
        <th scope="col" class="colProp" (click)="sortCol('Total Confirmed')"><span >Total Confirmed</span> 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill hideMe"
            viewBox="0 0 16 16" *ngIf="iconShow.TotalConfirmed && sortColname== 'Total Confirmed'">
            <path
              d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
          </svg> 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-down-fill hideMe" viewBox="0 0 16 16" *ngIf="!iconShow.TotalConfirmed && sortColname== 'Total Confirmed'">
            <path
              d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
          </svg> </th>
        <th scope="col" class="colProp" (click)="sortCol('New Death')"><span >New Deaths</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill hideMe"
            viewBox="0 0 16 16" *ngIf="iconShow.NewDeaths && sortColname== 'New Death'">
            <path
              d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
          </svg> 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-down-fill hideMe" viewBox="0 0 16 16" *ngIf="!iconShow.NewDeaths  && sortColname== 'New Death'">
            <path
              d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
          </svg> </th>
        <th scope="col" class="colProp" (click)="sortCol('Total Death')"><span >Total Deaths</span><svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill hideMe"
            viewBox="0 0 16 16" *ngIf="iconShow.TotalDeaths && sortColname== 'Total Death'">
            <path
              d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
          </svg> 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-down-fill hideMe" viewBox="0 0 16 16" *ngIf="!iconShow.TotalDeaths && sortColname== 'Total Death'">
            <path
              d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
          </svg> </th>
        <th scope="col" class="colProp" (click)="sortCol('New Recovered')"><span >New Recovered</span><svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill hideMe"
            viewBox="0 0 16 16" *ngIf="iconShow.NewRecovered && sortColname== 'New Recovered'">
            <path
              d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
          </svg> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-down-fill hideMe" viewBox="0 0 16 16" *ngIf="!iconShow.NewRecovered && sortColname== 'New Recovered'">
            <path
              d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
          </svg> </th>
        <th scope="col" class="colProp" (click)="sortCol('Total Recovered')"><span >Total Recovered</span><svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill hideMe"
            viewBox="0 0 16 16" *ngIf="iconShow.TotalRecovered && sortColname== 'Total Recovered'">
            <path
              d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
          </svg> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-down-fill hideMe" viewBox="0 0 16 16" *ngIf="!iconShow.TotalRecovered && sortColname== 'Total Recovered'">
            <path
              d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
          </svg> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of tenData">
        <th class="colProp" scope="row">{{i.Country}}</th>
        <td  class="colProp">{{i.NewConfirmed}}</td>
        <td  class="colProp">{{i.TotalConfirmed}}</td>
        <td  class="colProp">{{i.NewDeaths}}</td>
        <td  class="colProp">{{i.TotalDeaths}}</td>
        <td  class="colProp">{{i.NewRecovered}} </td>
        <td  class="colProp">{{i.TotalRecovered}} </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="countryData.length<= 0">
    <div class="card card-background" style="width: 33rem;">
      <div class="card-body">
        <h5 class="card-title display-3">No Data Found !!</h5>
      </div>
    </div>
  </div>
</div>
<div *ngIf="countryData.length > 10">
  <app-pagination [pageList]="pagesArray" (getPage)="getPageData($event)"></app-pagination>
</div>