.dataTable {
    color: white !important;
    .colProp{
        cursor: pointer;
        background-color: #1e1e30 !important;
        padding: 5px;
    }
   
   
}
.card-background{
    background-color: #1e1e30 !important;
}